
MoneyTextField.xcodeproj/xcuserdata/ahartford.xcuserdatad/xcschemes/MoneyTextField Example.xcscheme

MoneyTextField.xcodeproj/xcuserdata/ahartford.xcuserdatad/xcschemes/MoneyTextField.xcscheme

MoneyTextField.xcodeproj/xcuserdata/ahartford.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist
